<mat-card class="mat-elevation-z6 example-table">
  <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch1">
      <mat-header-cell *matHeaderCellDef>Ch1</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch2">
      <mat-header-cell *matHeaderCellDef>Ch2</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch2 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch3">
      <mat-header-cell *matHeaderCellDef>Ch3</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch3 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch4">
      <mat-header-cell *matHeaderCellDef>Ch4</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch4 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch5">
      <mat-header-cell *matHeaderCellDef>Ch5</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch5 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch6">
      <mat-header-cell *matHeaderCellDef>Ch6</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch6 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch7">
      <mat-header-cell *matHeaderCellDef>Ch7</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch7 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch8">
      <mat-header-cell *matHeaderCellDef>Ch8</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch8 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch9">
      <mat-header-cell *matHeaderCellDef>Ch9</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch9 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch10">
      <mat-header-cell *matHeaderCellDef>Ch10</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch10 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch11">
      <mat-header-cell *matHeaderCellDef>Ch11</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch11 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch12">
      <mat-header-cell *matHeaderCellDef>ch12</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch12 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch13">
      <mat-header-cell *matHeaderCellDef>ch13</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch13 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch14">
      <mat-header-cell *matHeaderCellDef>ch14</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch14 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch15">
      <mat-header-cell *matHeaderCellDef>ch15</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch15 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch16">
      <mat-header-cell *matHeaderCellDef>ch16</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch16 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch17">
      <mat-header-cell *matHeaderCellDef>ch17</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch17 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch18">
      <mat-header-cell *matHeaderCellDef>ch18</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch18 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch19">
      <mat-header-cell *matHeaderCellDef>ch19</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch19 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch20">
      <mat-header-cell *matHeaderCellDef>ch20</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch20 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch21">
      <mat-header-cell *matHeaderCellDef>ch21</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch21 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch22">
      <mat-header-cell *matHeaderCellDef>ch22</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch22 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch23">
      <mat-header-cell *matHeaderCellDef>ch23</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch23 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch24">
      <mat-header-cell *matHeaderCellDef>ch24</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch24 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch25">
      <mat-header-cell *matHeaderCellDef>ch25</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch25 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch26">
      <mat-header-cell *matHeaderCellDef>ch26</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch26 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch27">
      <mat-header-cell *matHeaderCellDef>ch27</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch27 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch28">
      <mat-header-cell *matHeaderCellDef>ch28</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch28 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch29">
      <mat-header-cell *matHeaderCellDef>ch29</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch29 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch30">
      <mat-header-cell *matHeaderCellDef>ch30</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch30 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch31">
      <mat-header-cell *matHeaderCellDef>ch31</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch31 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ch32">
      <mat-header-cell *matHeaderCellDef>ch32</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ch32 }}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="time">
      <mat-header-cell fxFlex="60px" *matHeaderCellDef mat-sort-header disableClear="true">
        Time
      </mat-header-cell>
      <mat-cell fxFlex="60px" *matCellDef="let row">{{ row.time | date }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</mat-card>
