<mat-toolbar *ngIf="user.name" class="mat-elevation-z6" color="primary">

  <button class="nav-item" mat-button routerLink="/home">LoRa GPS Mapper</button>
  <!--<button class="nav-item" mat-button routerLink="/ciet/logger">Logger</button>-->
  <span class="spacer"></span>
  <label class="nav-item">{{user.name}}</label>
  <button class="nav-item" mat-button (click)="logOut()">Log Out</button>

</mat-toolbar>

<mat-toolbar *ngIf="!user.name" class="mat-elevation-z6" color="primary">
  LoRa GPS Mapper
</mat-toolbar>

<div style="width:80%;margin: auto; margin-top:20px;">

  <router-outlet></router-outlet>

</div>
